<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/style.css}" rel="stylesheet">

</head>
<body>
<div class="nav">
    <ul class="left">
        <li><a href="/">Главная</a></li>
        <li><a href="/shop">Товары</a></li>
        <li><a href="/reviews">Отзывы</a></li>
    </ul>
    <ul class="right">
        <li><a href="/auth">Войти</a></li>
        <li class="current"><a href="/registration">Регистрация</a></li>
    </ul> 
</div>
<footer class="footer">
    <p>Все права защищены</p>
</footer>
</nav>
</body>
</html>
